<br>
    <div class="person-details">
            <oj-messages messages="[[errorMessagesProvider]]" position="{}"  display="notification"></oj-messages>
<!--      <oj-messages messages="[[errorMessagesProvider]]"></oj-messages>-->

<!-- <div data-bind="visible:showLoadDialog" id="loadPanel" style=float:left> 

    <span style="color:red">جارى التحميل...</span>
<oj-button on-oj-action="[[refresh]]">
تحديث
</oj-button>
</div> -->

        <div class="details-content" style="width:98%">
            <h3 class="header-title">البيانات الشخصية </h3>
            <br>
            <oj-form-layout max-columns='2' width="100%" label-edge='start' label-width="20%">
                <oj-input-text id="idNum" style="max-width:90%" readonly value="[[]]" label-hint="رقم الإدراج"></oj-input-text>
                <oj-input-text id="fullName" style="max-width:90%" readonly  value="[[]]"  label-hint="الإنتحال"></oj-input-text>
                <oj-input-text id="fullName" style="max-width:90%" readonly  value="[[]]"  label-hint="الإنتحال2"></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%" readonly value="[[]]" label-hint="الشهرة "></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%" readonly value="[[]]" label-hint="الشهرة2 "></oj-input-text>
                <oj-input-text id="eventDate" style="max-width:90%" readonly value="[[]]" label-hint="النوع"></oj-input-text>
                <oj-input-text id="eventRegNo" style="max-width:90%" readonly value="[[]]" label-hint="الحالة لصحية"></oj-input-text>
                <oj-input-text id="spouseBirthDate" style="max-width:90%" readonly value="[[]]" label-hint="تاريخ الميلاد"></oj-input-text>
                <oj-input-text id="spouseType" style="max-width:90%" readonly value="[[]]" label-hint="الديانة"></oj-input-text>
                <oj-input-text id="idNum" style="max-width:90%" readonly value="[[]]" label-hint="محل الإقامة"></oj-input-text>
                <oj-input-text id="fullName" style="max-width:90%" readonly  value="[[]]"  label-hint="المهنة"></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%" readonly value="[[]]" label-hint="إثبات الشخصية "></oj-input-text>
                <oj-input-text id="eventRegNo" style="max-width:90%" readonly value="[[]]" label-hint="إسم الأم"></oj-input-text>
                <oj-input-text id="spouseBirthDate" style="max-width:90%" readonly value="[[]]" label-hint="م الصحية"></oj-input-text>
                <oj-input-text id="spouseType" style="max-width:90%" readonly value="[[]]" label-hint="محل الميلاد"></oj-input-text>
                <oj-input-text id="idNum" style="max-width:90%" readonly value="[[]]" label-hint="الجنسية"></oj-input-text>
                <oj-input-text id="fullName" style="max-width:90%" readonly  value="[[]]"  label-hint="قسم الإقامة"></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%; height: 80px;" readonly value="[[]]" label-hint="عنوان العمل "></oj-input-text>
                <oj-input-text id="idNum" style="max-width:90%;height: 80px" readonly value="[[]]" label-hint="المعلومات"></oj-input-text>
                <!-- <label for="curr-selection">المعلومات&nbsp;</label> -->
                
                <!-- <textarea id="selectionCurrent" style="height: 80px; width: 300px;"label-hint="عنوان العمل"  readonly  value="[[]]" ></textarea> -->
                <oj-input-text id="fullName" style="max-width:90%;height: 80px" readonly  value="[[]]"  label-hint="الأوصاف الجنائية"></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%;height: 80px" readonly value="[[]]" label-hint=" العلامات المميزة "></oj-input-text>
                <oj-input-text id="spouseMotherName" style="max-width:90%;height: 80px" readonly value="[[]]" label-hint=" معلومات الخطورة "></oj-input-text>
            </oj-form-layout> 
            <oj-button id="submit" style="float: right;" class="oj-button-lg"  on-oj-action="[[dogo]]" >الصفحة التالية</oj-button>
        </div>
        <h2 id="load" >جاري تحميل البيانات</h2>
        <div id="loader" class="loader"></div>
       <br>
            <oj-table id='table' aria-label='Departments'
                data-bind="event: {selectionChanged: tableListener}"
                on-oj-before-current-row="[[beforeCurrentRow]]"
                data='[[pagingDataProvider]]' 
                selection-mode='{"row": "multiple", "column": "multiple"}'
                dnd='{"reorder": {"columns": "enabled"}}'
                width="100%"
                columns='[[tableColumns]]'>
            </oj-table>
            <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
            </oj-paging-control>
    </div>

<br><br>
<script type="text/html" id="serial">
    <td> 
    <oj-bind-text value="[[$context.cellContext.status.rowIndex + 1]]" ></oj-bind-text>
    <!--    <span data-bind="text:$parent.getCol($context)"></span>-->
  </td>
  </script>
